//Form styles
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 select {
  -webkit-appearance: none;
  background-image: url("../iconsall/form-select.png");
  padding-right: size(21);
  padding-left: size(42);
  background-position: 22px center;
  background-size: 16px;
  margin-bottom: 10px;
}
div.wpcf7 textarea {
  height: size(160);
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
  background-size: size(23);
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 input[type="submit"] {
  background-color: #101010;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  white-space: normal;
  padding: 8px;
  transition: background-color .5s;
  &:hover {
	background-color: $blue-main;
	transition: background-color .5s;
  }
}
.foo-form-title, .foo-form-subtitle {
  @include base-title;
  color: #ffffff;
  text-align: center;
}
.foo-form-subtitle {
  font-weight: 400;
}
.post-form-title {
  @include base-title;
  color: #ffffff;
}
.post-form-subtitle {
  @include base-text;
  line-height: 1.1rem;
}
.post-form-title, .post-form-subtitle {
  @include mid-title;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}
.post-form-subtitle {
  font-weight: 400;
  margin-bottom: 24px;
}
.post-form-wrap {
  border-radius: 15px;
  background-color: $blue-main;
  padding: size(40);
}
.padding-form-item {
  padding: 0 size(40);
}
.float-form {
  position: fixed;
  top: 10%;
  z-index: 99999;
  transition: all .5s;
  transform: translateX(-100%);
  opacity: 0;
  &.show-form {
	left: 3rem;
	opacity: 1;
	transform: translateX(0);
  }
}
