#MainNav, .drop-menu {
  ul{
	display: flex;
	height: 100%;
	li{
	  position: relative;
	  padding: 0 10px;
	  a{
		color: #010101;
		font-size: size(24);
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: size(34);
		text-align: center;
		transition: color .5s;
		&:hover {
		  color: $blue-main;
		  transition: color .5s;
		}
	  }
	}
  }
}
.triggers-col {
  position: fixed;
  left: 1.2rem;
  top: 20%;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.drop-menu li {
  margin-bottom: 10px;
}
//Footer
.footer-main {
  position: relative;
  background-color: $blue-main;
  padding: size(45) 0;
}
.menu-border-top {
  padding-top: size(22);
  border-top: 2px solid #ffffff;
}
.hop-hey.three-columns {
  column-count: 2;
  column-gap: 1rem;
}
footer {
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	margin-bottom: 5px;
	a {
	  position: relative;
	  color: #ffffff;
	  font-size: size(18);
	  line-height: size(20);
	  padding-right: 15px;
	  &:before {
		position: absolute;
		content: '>';
		top: 4px;
		color: #ffffff;
		font-size: size(18);
		line-height: size(20);
		display: inline-block;
		right: 0;
	  }
	}
	a:hover {
	  color: #000000;
	  cursor: pointer;
	  transition: color .5s;
	}
  }
  .contact-list li a {
	display: flex;
	align-items: flex-start;
	padding-right: 0;
	&:before {
	  display: none;
	}
	svg {
	  width: size(18);
	  margin-left: size(19);
	}
  }
}
.contact-menu-foo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.logo-footer {
  margin-top: 2rem;
  width: 100%;
  @include d-center;
  img {
	width: 100%;
  }
}
.foo-title {
  font-size: size(24);
  line-height: size(26);
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 15px;
}
.foo-form-wrap {
  padding: size(40) 0;
}
.to-top-text {
  color: #ffffff;
  font-size: size(18);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
  text-align: center;
  margin-top: 15px;
}
#go-top {
  position: absolute;
  top: 45%;
  right: 5%;
  @include d-center;
  flex-direction: column;
  cursor: pointer;
  z-index: 999;
  svg {
	width: size(64);
	fill: #ffffff;
	transition: fill .5s;
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
  &:hover svg {
	fill: $blue-main;
	transition: fill .5s;
  }
}
.header-logo-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 99999;
  padding: 10px 0;
  box-shadow: 1px 2px 24px rgba(0, 0, 0, 0.15);
  border: 2px solid #ffffff;
  background-color: #ffffff;
  .hamburger {
	padding: 0;
	display: flex;
  }
  .hamburger-box {
	width: 30px;
  }
  .hamburger-inner::before {
	top: -8px;
  }
  .hamburger-inner::after {
	bottom: -8px;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: #000000;
	width: 30px;
	border-radius: 0;
	height: 2px;
  }
}
.langs-wrap {
  @include d-center;
  padding: 10px;
  &:hover {
	li a {
	  color: $blue-main;
	  transition: color .5s;
	}
  }
  li.active {
	display: none;
  }
  li a {
	@include base-text;
	color: #010101;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	transition: color .5s;
  }
}
.drop-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 99999;
  height: auto;
  padding: size(60) size(20);
  border-bottom: 10px solid $blue-main;
  box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  min-width: 266px;
  overflow-y: auto;
  nav {
	width: 100%;
  }
  ul{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  }
}
.pop-trigger {
  cursor: pointer;
  background-image: url("../img/pop-trigger.png");
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
  width: size(67);
  height: size(135);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
}
.pop-trigger-text {
  color: #ffffff;
  font-size: size(30);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
  text-align: center;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}
