//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: size(35);
	height: size(30);
	z-index: 33;
	top: unset;
	bottom: -3rem;
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
  [dir="rtl"] .slick-next {
	left: 0;
	right: unset;
	background-image: url("../iconsall/arrow-left.png");
  }
  [dir="rtl"] .slick-prev {
	left: 3rem;
	right: unset;
	background-image: url("../iconsall/arrow-right.png");
  }
}
.pro-slider-wrap {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: 45%;
	bottom: unset;
  }
  [dir="rtl"] .slick-prev {
	left: unset;
	right: -2rem;
  }
  [dir="rtl"] .slick-next {
	left: -2rem;
	right: unset;
  }
}
.base-slider-block {
  position: relative;
  padding: size(100) 0;
}
.before-slider, .after-slider {
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  height: 110px;
  width: 100%;
  margin-bottom: -1px;
  background-color: $blue-main;
}
.after-slider {
  margin-bottom: 0;
  margin-top: -1px;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
}
.black-slider {
  .before-slider, .blue-back {
	background-color: #101010;
  }
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
	width: 90%;
	border-radius: 15px;
  }
}
//Card post
.post-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.post-item-image {
  width: 100%;
  background-color: #e1dfdf;
  background-size: cover;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: size(28);
  &:after {
	display: block;
	content: '';
	padding-bottom: 84.7%;
  }
}
.post-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}
.post-item-title {
  color: #000000;
  font-size: size(25);
  font-weight: 500;
  line-height: size(28);
  margin-bottom: 10px;
}
.post-item-text {
  @include small-text;
  color: #8d8c8c;
  margin-bottom: 13px;
}
.post-col {
  margin-bottom: 37px;
}
.post-link {
  @include base-text;
  color: #000000;
  background-image: url("../iconsall/link-arrow-left.png");
  background-position: 3px center;
  padding-left: 35px;
  background-size: size(21);
  background-repeat: no-repeat;
  transition: background-position .5s;
  &:hover {
	color: #000000;
	background-position: left center;
	transition: background-position .5s;
  }
}
//Company cars
.col-company {
  padding: 0 6px;
  margin-bottom: 6px;
}
.company-wrap {
  @include d-center;
  border: 2px solid #d7d7d7;
  background-color: #ffffff;
  height: size(211);
  padding: size(40);
  img {
	max-height: 100%;
  }
}
