/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1600px) {
  .col-xxl-5 {
	flex: 0 0 41%;
	max-width: 41%;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
  .container {
	max-width: 89.5%;
  }
}
@media (max-width: 1500px) {
  .slider-img-col {
	justify-content: center;
	img {
	  width: 100%;
	}
  }
  .about-video {
	&:after {
	  padding-bottom: 43%;
	}
  }
  .page-form-col-post {
	.post-form-wrap {
	  padding: size(40) 10px;
	}
  }
  .home-projects-block .big-col {
	flex: 0 0 100%;
	max-width: 100%;
  }
}
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  .footer-main {
	padding: size(80) 0 size(40) 0;
  }
  #go-top {
	top: 20px;
	right: 10px;
  }
  .home-posts-block {
	.post-col {
	  flex: 0 0 45%;
	  max-width: 45%;
	}
  }
  .foo-menu {
	margin-bottom: 2rem;
  }
  .contacts-footer-menu {
	order: 2;
  }
  .links-footer-menu {
	order: 3;
  }
  .big-col {
	max-height: 500px;
  }
  .gallery-item {
	height: 180px;
	min-height: 180px;
  }
  .big-col {
	padding: 0 15px !important;
  }
  .gallery-col {
	margin: 0 !important;
	padding: 10px !important;
  }
  .big-col:nth-child(even) .gallery-col:nth-child(2) .gallery-item {
	margin: 0 7px;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .slider-img-col {
	margin-top: 4rem;
  }
  .footer-main {
	padding: size(120) 0 size(40) 0;
  }
  .worker-item {
	max-width: unset;
  }
  #MainNav, .drop-menu {
	ul{
	  li{
		padding: 0 8px;
		a{
		  font-size: size(18);
		  line-height: size(22);
		}
	  }
	}
  }
  header .container {
	max-width: 95%;
  }
}
@media (min-width: 769px) {
  #MainNav ul.sub-menu {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 99999;
	height: auto;
	padding: size(60) size(20);
	border-bottom: 10px solid $blue-main;
	box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	min-width: 266px;
	.back-to-menu, .sub-head {
	  display: none;
	}
	li {
	  justify-content: flex-start;
	}
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .col-none {
	display: none;
  }
  .float-form.show-form {
	left: 0;
  }
  .triggers-col {
	left: 0;
  }
  .pop-trigger-text {
	font-size: size(22);
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .float-form {
	.post-form-wrap {
	  padding: 20px 10px;
	}
	.padding-form-item {
	  padding: 0;
	}
  }
  .home-posts-block {
	.post-col {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
  }
  .col-company {
	padding: 0 15px;
	margin-bottom: 15px;
  }
  .contacts-footer-menu {
	order: 3;
  }
  .links-footer-menu {
	order: 2;
  }
  .about-video {
	&:after {
	  padding-bottom: 73%;
	}
  }
  .play-button-about {
	svg {
	  width: 50px;
	}
  }
  .big-col {
	flex-wrap: wrap;
	max-height: unset;
  }
  .gallery-col {
	margin: 0 !important;
	padding: 0 !important;
	flex: 0 0 100% !important;
	max-width: 100% !important;
  }
  .gallery-item {
	min-height: unset !important;
	height: 300px !important;
	margin-bottom: 10px;
  }
  .big-col:nth-child(even) .gallery-col:nth-child(2) .gallery-item {
	margin: 0;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .hop-hey.three-columns {
	column-count: 1;
	column-gap: unset;
  }
  .header-logo-col .logo img {
	max-height: 50px;
  }
}
