body{
  text-align: left;
  direction: ltr;
}
$blue-main: #19bcbb;
$base-size: 20;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}
.wpcf7-form {
  * {
	direction: ltr !important;
  }
  ::placeholder {
	text-align: left;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	text-align: left;
  }
}
.header-tel {
  img {
	margin-right: 8px;
	margin-left: 0;
  }
}
.search-form {
  direction: ltr !important;
}
.drop-menu {
  left: 15px;
  right: unset;
}
.login-link-header {
  margin-left: 0;
  margin-right: 10px;
}
.contact-info-footer {
  .contact-icon-wrap {
	margin-right: 10px;
	margin-left: 0;
  }
}
.post-link {
  background-image: url("../iconsall/link-arrow-right.png");
  background-position: calc(100% - 3px) center;
  padding-right: 35px;
  padding-left: 0;
  &:hover {
	background-position: right center;
  }
}
.cat-link-col {
  border-right: 1px solid $blue-main;
  border-left: none;
  &:last-child {
	border-right: none;
  }
}
footer {
  li {
	a {
	  padding-left: 15px;
	  padding-right: 0;
	  &:before {
		content: '>';
		right: unset;
		left: 0;
	  }
	}
	a:hover {
	  color: #000000;
	  cursor: pointer;
	  transition: color .5s;
	}
  }
  .contact-list li a {
	padding-right: 0;
	padding-left: 0;
	&:before {
	  display: none;
	}
	svg {
	  margin-right: size(19);
	  margin-left: 0;
	}
  }
}
.base-slider-block {
  .slider-base-item {
	direction: ltr;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  padding-right: 8px;
  background-position: 23px center;
  padding-left: size(57);
}
div.wpcf7 select {
  padding-left: size(21);
  padding-right: size(42);
  background-position: calc(100% - 14px) center;
}
.pop-trigger-text {
  font-size: size(24);
  line-height: size(20);
}
.triggers-col {
  left: unset;
  right: 1.2rem;
}
.close-worker {
  right: 15px;
  left: unset;
}
.pop-trigger-text {
  transform: rotate(180deg);
}
.pop-trigger {
  background-image: url("../img/pop-trigger-ltr.png");
  background-position: left center;
  padding: 0 10px;
}

//MEDIA
@media (max-width: 1200px) {

}
@media (max-width: 768px) {
  #MobNavBtn, nav#MainNav {
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
  }
  #MobNavBtn {
	right: unset;
	left: 100%;
  }
  nav#MainNav {
	right: unset;
	left: -200px;
  }
  nav#MainNav.active {
	left: 0;
	right: unset;
  }
  .triggers-col {
	right: 0;
  }
  .pop-trigger {
	padding: 0;
  }
}
