@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "forms";
@import "animate";
@import "partials";
@import "header-footer";



body{
  font-family: $heebo;
  text-align: right;
  padding-top: 2.5rem;
}
.wow {
  visibility: hidden;
}
.base-title {
  @include base-title;
  color: $title-main;
}
.base-output {
  h1, h2 {
	@include base-title;
  }
  h1, h2, h3, h4, h5, h6 {
	color: $title-main;
	font-weight: 500;
	margin-bottom: 20px;
  }
  h3 {
	@include mid-max-title;
  }
  h4 {
	@include mid-title;
  }
  h5 {
	font-size: size(26);
	line-height: size(28);
  }
  h6 {
	font-size: size(24);
	line-height: size(26);
  }
  p, li {
	@include base-text;
  }
  ul {
	list-style: disc;
	margin: 1rem;
  }
}
.base-output-white {
  h1, h2, h3, h4, h5, h6, p, li {
	color: #ffffff;
  }
  p, li {
	font-size: size(24);
  }
}
.post-output {
  p, li {
	line-height: normal;
  }
  p {
	margin-bottom: 40px;
  }
}
//Homepage
.blue-back {
  background-color: $blue-main;
}
.video-home {
  @include d-center;
  position: relative;
  video {
	width: 100%;
  }
  &:hover .button-home svg {
	fill: $blue-main;
	transition: fill .5s;
  }
}
.top-page-img {
  position: relative;
  @include back-img;
  padding: size(110) 0;
  background-image: url("../img/projects-top.png");
}
.video-home-overlay {
  @include overlay;
  background-image: linear-gradient(to bottom, #000000 0%, #000000 28%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.4;
}
.button-home {
  @include overlay;
  @include d-center;
  flex-direction: column;
  cursor: pointer;
  transition: opacity .5s;
  &.hide {
	opacity: 0;
	transition: opacity .5s;
  }
  svg {
	//position: absolute;
	//top: 50%;
	z-index: 4;
	width: size(67);
	transition: fill .5s;
  }
}
.home-video-bottom {
  position: relative;
  z-index: 999;
  clip-path: polygon(50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
  background-color: #ffffff;
  height: 112px;
  margin-top: -111px;
}
.counter-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.counter-wrapper {
  padding: size(40) 0;
}
.counter-number {
  color: #ffffff;
  font-size: size(65);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(70);
  text-align: center;
  margin-bottom: size(36);
}
.counter-title {
  color: #ffffff;
  font-size: size(27);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  text-align: center;
}
.home-about-block {
  padding: size(90) 0 size(70) 0;
}
.home-projects-block {
  padding: size(80) 0;
}
//Benefits homepage
.why-item-col {
  margin-bottom: 60px;
}
.why-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10%;
}
.why-item-title, .why-item-text {
  color: #ffffff;
  text-align: center;
}
.why-item-title {
  font-size: size(24);
  font-weight: 500;
  line-height: size(26);
  margin-bottom: 14px;
}
.why-item-text {
  @include small-text;
  font-weight: 300;
}
.why-icon-wrap {
  @include d-center;
  width: size(117);
  height: size(117);
  border-radius: 10px;
  border: 1px solid #ffffff;
  padding: size(20);
  margin-bottom: 25px;
}
.block-link {
  @include d-center;
  min-width: size(172);
  height: size(40);
  border-radius: 15px;
  background-color: $blue-main;
  padding: 5px size(30);
  @include small-text;
  color: #ffffff;
  text-align: center;
  &:hover {
	background-color: #101010;
	transition: background-color .5s;
  }
}
.home-posts-block {
  padding: size(65) 0 size(50) 0;
}
.home-companies-block {
  padding: size(100) 0 size(85) 0;
}
.more-link {
  cursor: pointer;
}
.more-link.hide {
  display: none;
}
.top-title {
  @include base-title;
  text-align: center;
  color: #ffffff;
}
//Blog
.cat-link {
  @include d-center;
  font-size: size(25);
  font-weight: 400;
  line-height: size(28);
  color: #000000;
  text-align: center;
  transition: color .5s;
  &:hover {
	color: $blue-main;
	transition: color .5s;
  }
}
.cat-link-col {
  border-left: 1px solid $blue-main;
  margin-bottom: 5px;
  &:last-child {
	border-left: none;
  }
}
//About
.about-video {
  position: relative;
  background-color: #000000;
  border-radius: 15px;
  margin: size(40) 0;
  &:after {
	content: '';
	display: block;
	padding-bottom: 33%;
  }
  &:hover .play-button-about svg {
	fill: $blue-main;
  }
}
.about-video-img {
  @include back-img;
  opacity: 0.49;
  z-index: 2;
}
.about-video-img, .put-video-here {
  border-radius: 15px;
}
.about-video-img, .put-video-here, .play-button-about {
  @include overlay;
}
.play-button-about {
  z-index: 3;
  cursor: pointer;
  @include d-center;
  transition: fill .5s;
  svg {
	width: 5%;
	fill: #ffffff;
	transition: fill .5s;
  }
}
.put-video-here {
  opacity: 0;
  z-index: 1;
  transition: opacity .5s;
  &.show {
	opacity: 1;
	transition: opacity .5s;
	z-index: 9;
  }
  iframe {
	width: 100%;
	height: 100%;
	border-radius: 15px;
  }
}
//Workers on about page
.worker-col-item {
  margin-bottom: 2rem;
}
.worker-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  max-width: size(312);
  &:hover {
	.worker-img img {
	  -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
	  filter: grayscale(0);
	  transition: filter .5s;
	}
  }
}
.worker-img {
  overflow-y: hidden;
  cursor: pointer;
  img {
	width: 100%;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	transition: filter .5s;
  }
}
.worker-name {
  @include mid-title;
  margin-bottom: 10px;
  cursor: pointer;
}
.worker-position {
  font-size: size(24);
  line-height: size(26);
}
.worker-name, .worker-position {
  color: #ffffff;
  text-align: center;
}
.worker-info-wrap {
  position: relative;
  padding: 30px 10px 20px 10px;
  background-color: $blue-main;
  flex-grow: 1;
  &:before {
	content: '';
	width: 100%;
	display: block;
	position: absolute;
	bottom: calc(100% - 1px);
	z-index: 999;
	right: 0;
	clip-path: polygon(50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
	height: 20px;
	background-color: $blue-main;
  }
}
.mt-minus {
  margin-top: -21px;
}
.worker-item-overlay {
  @include overlay;
  @include d-center;
  padding: size(45) size(15);
  background-color: rgba(240, 240, 240, 1);
  opacity: 0;
  pointer-events: none;
  overflow-y: auto;
  z-index: 9999;
  transition: opacity .5s;
  &.show {
	opacity: 1;
	pointer-events: auto;
	transition: opacity .5s;
  }
}
.close-worker {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 999;
  cursor: pointer;
  img {
	width: size(25);
  }
}
.worker-info-desc {
  @include base-text;
  text-align: center;
  color: #101010;
}
//Post
.post-page-img {
  margin-bottom: size(78);
  border-radius: 15px;
}
.socials-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0;
}
.share-text {
  color: $text-main;
  font-size: size(25);
  line-height: size(32);
}
.social-share-link {
  @include d-center;
  margin: 0 9px;
  img {
	width: size(43);
  }
}
.page-form-col-post .post-form-wrap {
  position: sticky;
  top: 0;
  z-index: 9999;
}
//Project page
.same-projects-block {
  background-color: #101010;
  margin-top: -1px;
  padding-bottom: 80px;
}
.same-projects-title {
  @include base-title;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}
.same-project-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.same-project-img {
  @include back-img;
  width: 100%;
  margin-bottom: 24px;
  border-radius: 15px;
  &:after {
	display: block;
	content: '';
	padding-bottom: 84.7%;
  }
}
.same-project-title {
  color: #ffffff;
  font-size: size(25);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(28);
  text-align: center;
}
//Project's gallery
.big-col {
  display: flex;
  align-items: stretch;
  max-height: 700px;
  &:nth-child(odd) {
	.gallery-col:nth-child(odd) {
	  .gallery-item:nth-child(even) {
		flex-grow: 1;
		height: 100%;
	  }
	}
	.gallery-col:nth-child(even) {
	  .gallery-item:nth-child(odd) {
		flex-grow: 1;
		height: 100%;
	  }
	}
  }
  &:nth-child(even) {
	.gallery-col:first-child {
	  flex: 0 0 35%;
	  max-width: 35%;
	  padding-bottom: 7px !important;
	  .gallery-item {
		min-height: unset;
	  }
	}
	.gallery-col:nth-child(2) {
	  flex: 0 0 65%;
	  max-width: 65%;
	  .gallery-item {
		flex-grow: 1;
		height: 100%;
		margin: 7px 0 14px 0;
	  }
	}
  }
}
.gallery-col {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 7px;
  display: flex;
  flex-direction: column;
}
.gallery-item {
  margin: 7px 0;
  position: relative;
  @include d-center;
  width: 100%;
  border-radius: 15px;
  @include back-img;
  height: 221px;
  min-height: 221px;
  &:hover .gallery-item-overlay {
	opacity: 1;
	pointer-events: auto;
	transition: opacity .5s;
  }
}
.gallery-item-overlay {
  @include overlay;
  background-color: rgba(9, 132, 126, 0.76);
  @include d-center;
  @include base-title;
  color: #ffffff;
  text-align: center;
  border-radius: 15px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s;
}
//Homepage projects
.pro-name-home {
  @include base-text;
  color: #000000;
  text-align: center;
}
.pro-item-home {
  padding: size(20);
  background-color: $blue-main;
  &:hover .pro-item-overlay {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.pro-item-inside {
  @include d-center;
  position: relative;
  width: 100%;
  height: 100%;
}
.pro-item-overlay {
  @include overlay;
  border: 1px solid #e6e6e5;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  @include d-center;
  padding: 15px;
  transition: opacity .5s;
  opacity: 0;
  pointer-events: none;
}
.other-pro-text {
  color: #ffffff;
  font-size: size(27);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  margin-bottom: size(30);
}
.pro-item-link-wrap {
  flex-direction: column;
}
.pro-item-link {
  @include d-center;
  @include base-text;
  text-align: center;
  color: #ffffff;
  padding: 10px size(35);
  border-radius: 15px;
  border: 2px solid #ffffff;
  background-color: $blue-main;
  transition: color, background-color .5s;
  &:hover {
	background-color: #ffffff;
	color: $blue-main;
	transition: color, background-color .5s;
  }
}
//Contact page
.contact-list-page {
  li {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
  }
  .contact-info {
	font-size: size(24);
	line-height: size(26);
	font-weight: 400;
	text-align: center;
	color: #000000;
	&:hover {
	  color: $blue-main;
	  transition: color .5s;
	}
  }
}
.contact-page-main {
  div.wpcf7 input, div.wpcf7 textarea, div.wpcf7 select {
	box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.07);
  }
  div.wpcf7 input[type="submit"] {
	background-color: $blue-main;
	&:hover {
	  background-color: #010101;
	}
  }
}
.contact-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: size(112);
  height: size(112);
  border-radius: 15px;
  border: 1px solid #000000;
  background-color: #ffffff;
  padding: size(26);
  margin: 20px;
}
.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  &:hover .hidden-info, &:hover .hidden-info-map {
	opacity: 1;
	transition: opacity .5s;
  }
}
.hidden-info {
  color: #000000;
  font-size: size(24);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(27);
  text-align: center;
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity, color .5s;
  &:hover {
	color: $blue-main;
	transition: color .5s;
  }
}
.contact-map {
  position: relative;
}
.hidden-info-map {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: auto;
  @include d-center;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  img {
	border-radius: 15px;
  }
}
.logo-home {
  flex: 0 0 25%;
  max-width: 25%;
  @include d-center;
  align-items: flex-end;
}

@import "responsive";
